body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
}

nav {
  background-color: #ddd;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
}
#toggle-nav {
  display: none;
  background-color: #ddd;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  #toggle-nav {
    display: block;
  }
}

.open #toggle-nav {
  transform: rotate(90deg);
}

.open nav ul {
  display: block;
}


/* .main_div{
  display: flex;

}

.main_text{
  background-color: red;
}

.main_img{
  background-color: blue;
} */


.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}